<md-dialog>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="!order.state.hasStarted">
                    <h3>Підтвердження замовлення</h3>
                    <p class="md-subhead">Ви здійснюєте замовлення на суму <b>{{order.total | currency: ''}} грн</b></p>
                    <p>Для оплати замовлення перекажіть кошти на рахунок, вказаний нижче:</p>
                    <div id="card-number-block" flex layout="row">
                        <md-input-container class="md-block">
                            <label>Номер картки</label>
                            <input id="card-number" value="4242 4242 4242 4242" ng-readonly="true">
                        </md-input-container>
                        <md-button id="copy-number-btn" class="md-raised" ngclipboard data-clipboard-target="#card-number"
                                   ng-click="showToast()">
                            <md-icon md-svg-src="img/icons/ic_content_copy_black_24px.svg"></md-icon>
                        </md-button>
                    </div>
                    <p>Після здійснення переказу натисніть кнопку "Підтвердити"</p>
                </div>
                <div ng-if="order.state.hasStarted">
                    <div ng-if="order.state.inProgress">
                        <h3>Триває надсилання замовлення...</h3>
                        <div id="order-spinner">
                            <md-progress-circular class="center-screen" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                    <div ng-if="!order.state.inProgress">
                        <div ng-if="order.state.success">
                            <h3>Замовлення успішно прийнято</h3>
                            <p>Нові треки будуть додані у вашу музичну бібліотеку після підтвердження оплати адміністратором</p>
                        </div>
                        <div ng-if="!order.state.success">
                            <h3>Помилка оплати</h3>
                            <p ng-if="order.state.networkError">
                                Не вдалося з'єднатися з сервером. Перевірте підключення до Інтернету та спробуйте знову.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-if="!order.state.hasStarted" ng-click="sendOrder()">
                Підтвердити
            </md-button>
            <md-button class="md-raised" ng-if="!order.state.hasStarted" ng-click="hide()">
                Скасувати
            </md-button>
            <md-button class="md-raised md-primary" ng-if="order.state.hasStarted && !order.state.inProgress"
                       ng-click="hide()">
                Закрити
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>