<div ng-controller="orderListCtrl as ctrl" layout="row">
    <md-progress-circular class="center-screen spinner" md-mode="indeterminate"
                          ng-show="ctrl.isSpinnerVisible"></md-progress-circular>
    <md-card class="wide-main-card zoom" ng-show="!ctrl.isSpinnerVisible">
        <md-card-header>
            <div layout="row" flex id="search">
                <md-input-container class="md-block" flex>
                    <label>Інформація про замовлення</label>
                    <input name="query" ng-model="ctrl.form.query" ng-keyup="ctrl.search()">
                </md-input-container>
            </div>
        </md-card-header>
        <md-card-content layout="column" layout-align="space-between">
            <md-nav-bar ng-if="isAdmin" nav-bar-aria-label="navigation links" md-selected-nav-item="ctrl.selectedNavItem">
                <md-nav-item md-nav-click="ctrl.archive = false" name="newOrders">
                    Нові замовлення
                </md-nav-item>
                <md-nav-item md-nav-click="ctrl.archive = true" name="archiveOrders">
                    Архів замовлень
                </md-nav-item>
            </md-nav-bar>
            <md-list class="no-animation">
                <md-list-item class="md-3-line student-list-item" ng-show="!ctrl.isSpinnerVisible"
                              ng-repeat="o in ctrl.form.orders | filter: (isAdmin || '') && {pending: !ctrl.archive} | orderBy:'id':true"
                              ui-sref="order({orderId: o.id})" target="_blank">
                    <img ng-src="img/icons/ic_star_rate_black_18px.svg" class="md-avatar" alt="Avatar">
                    <div class="md-list-item-text">
                        <div layout="row">
                            <div class="list-item-index"><h3>{{$index + 1}}.</h3></div>
                            <div>
                                <h3 ng-if="isAdmin">
                                    {{o.user.lastName + ' ' + o.user.firstName}}
                                </h3>
                                <h4 ng-if="isAdmin">ID замовлення: {{o.id}}</h4>
                                <h3 ng-if="!isAdmin">ID замовлення: {{o.id}}</h3>
                                <h4>Вартість замовлення: {{o.price | currency: ''}} грн</h4>
                                <p>Статус: {{o.pending ? 'Очікує підтвердження' :
                                    o.confirmed ? 'Замовлення прийнято' : 'Замовлення відхилено'}}</p>
                            </div>
                        </div>
                        <div ng-if="isAdmin && width < 750" class="track-actions">
                            <md-button ng-if="o.pending" ng-click="ctrl.confirmOrder(o)" class="md-raised md-primary">
                                Підтвердити
                            </md-button>
                            <md-button ng-if="o.pending" ng-click="ctrl.rejectOrder(o)" class="md-raised">
                                Відхилити
                            </md-button>
                            <md-button ng-if="!o.pending" ng-click="ctrl.deleteOrder(o)" class="md-raised">
                                Видалити
                            </md-button>
                        </div>
                    </div>
                    <div ng-if="isAdmin && width > 750" class="track-actions right-actions">
                        <md-button ng-if="o.pending" ng-click="ctrl.confirmOrder(o)" class="md-raised md-primary">
                            Підтвердити
                        </md-button>
                        <md-button ng-if="o.pending" ng-click="ctrl.rejectOrder(o)" class="md-raised">
                            Відхилити
                        </md-button>
                        <md-button ng-if="!o.pending" ng-click="ctrl.deleteOrder(o)" class="md-raised">
                            Видалити
                        </md-button>
                    </div>
                </md-list-item>
                <p class="no-items">Список пустий</p>
            </md-list>
        </md-card-content>
    </md-card>
</div>