<md-dialog>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="!subscriptionRequest.state.hasStarted">
                    <h3>Оформлення підписки</h3>
                    <p class="md-subhead">Ви оформлюєте підписку вартістю <b>100 грн/рік</b></p>
                    <p>Для оплати підписки перекажіть кошти на рахунок, вказаний нижче:</p>
                    <div id="card-number-block" flex layout="row">
                        <md-input-container class="md-block">
                            <label>Номер картки</label>
                            <input id="card-number" value="4149 4391 0795 2412" ng-readonly="true">
                        </md-input-container>
                        <md-button id="copy-number-btn" class="md-raised" ngclipboard data-clipboard-target="#card-number"
                                   ng-click="showToast()">
                            <md-icon md-svg-src="img/icons/ic_content_copy_black_24px.svg"></md-icon>
                        </md-button>
                    </div>
                    <p>Після здійснення переказу натисніть кнопку "Підтвердити"</p>
                </div>
                <div ng-if="subscriptionRequest.state.hasStarted">
                    <div ng-if="subscriptionRequest.state.inProgress">
                        <h3>Триває надсилання заявки...</h3>
                        <div id="subscription-request-spinner">
                            <md-progress-circular class="center-screen" md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                    <div ng-if="!subscriptionRequest.state.inProgress">
                        <div ng-if="subscriptionRequest.state.success">
                            <h3>Заявку на оформлення підписки прийнято</h3>
                            <p>Треки будуть доступні для завантаження після підтвердження оплати адміністратором</p>
                        </div>
                        <div ng-if="!subscriptionRequest.state.success">
                            <h3>Помилка надсилання даних</h3>
                            <p ng-if="subscriptionRequest.state.networkError">
                                Не вдалося з'єднатися з сервером. Перевірте підключення до Інтернету та спробуйте знову.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-if="!subscriptionRequest.state.hasStarted" ng-click="sendSubscriptionRequest()">
                Підтвердити
            </md-button>
            <md-button class="md-raised" ng-if="!subscriptionRequest.state.hasStarted" ng-click="hide()">
                Скасувати
            </md-button>
            <md-button class="md-raised md-primary" ng-if="subscriptionRequest.state.hasStarted && !subscriptionRequest.state.inProgress"
                       ng-click="hide()">
                Закрити
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>