<md-card class="main-card" ng-controller="trackUploadCtrl as ctrl">
    <md-card-content layout="row" layout-align="space-between">
        <form name="trackForm" ng-submit="trackForm.$valid && ctrl.submit()">
            <section id="residence">
                <h3 class="md-headline center">Інформація про пісню</h3>
                <md-input-container class="md-block">
                    <label>Виконавець</label>
                    <input required name="artist" ng-model="ctrl.form.trackInfo.artist">
                    <div ng-messages="trackForm.artist.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Назва</label>
                    <input required name="title" ng-model="ctrl.form.trackInfo.title">
                    <div ng-messages="trackForm.title.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Ціна</label>
                    <input required name="price" ng-model="ctrl.form.trackInfo.price"
                           ng-pattern="/^\d?\d\d\.\d\d$/">
                    <div ng-messages="trackForm.price.$error">
                        <div ng-message="required">Обов'язкове поле.</div>
                        <div ng-message="pattern">
                            Ціна повинна бути вказана в форматі XX.XX
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Посилання на демо-аудіо</label>
                    <input name="sampleAudioUrl" ng-model="ctrl.form.trackInfo.sampleAudioUrl"
                           ng-required="!ctrl.form.trackFiles.sampleAudio[0]">
                    <br>
                    <div id="sample-error-caption" class="md-caption error"
                         ng-if="!ctrl.form.trackFiles.sampleAudio[0] && !ctrl.form.trackInfo.sampleAudioUrl">
                        Обов'язкове поле, якщо не вибрано файл демо-аудіо
                    </div>
                </md-input-container>
            </section>
            <section id="files">
                <h3 class="md-headline center">Файли</h3>
                <div>
                    <section>
                        <h3 class="md-subhead">Демо-аудіо:</h3>
                        <lf-ng-md-file-input name="sampleAudio" ng-model="ctrl.form.trackFiles.sampleAudio"
                                             lf-files="ctrl.form.trackFiles.sampleAudio" progress></lf-ng-md-file-input>
                    </section>
                    <section>
                        <h3 class="md-subhead">Аудіо:</h3>
                        <lf-ng-md-file-input name="audio" ng-model="ctrl.form.trackFiles.audio"
                                             lf-files="ctrl.form.trackFiles.audio" lf-required progress></lf-ng-md-file-input>
                        <div ng-messages="trackForm.audio.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                        </div>
                    </section>
                    <section>
                        <h3 class="md-subhead">PDF-акорди:</h3>
                        <lf-ng-md-file-input name="pdfChords" ng-model="ctrl.form.trackFiles.pdfChords"
                                             lf-files="ctrl.form.trackFiles.pdfChords" lf-required progress></lf-ng-md-file-input>
                        <div ng-messages="trackForm.pdfChords.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                        </div>
                    </section>
                    <section>
                        <h3 class="md-subhead">DOC-акорди:</h3>
                        <lf-ng-md-file-input name="docChords" ng-model="ctrl.form.trackFiles.docChords"
                                             lf-files="ctrl.form.trackFiles.docChords" lf-required progress></lf-ng-md-file-input>
                        <div ng-messages="trackForm.docChords.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                        </div>
                    </section>
                    <section>
                        <h3 class="md-subhead">Ноти:</h3>
                        <lf-ng-md-file-input name="notes" ng-model="ctrl.form.trackFiles.notes"
                                             lf-files="ctrl.form.trackFiles.notes" lf-required progress></lf-ng-md-file-input>
                        <div ng-messages="trackForm.notes.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                        </div>
                    </section>
                    <section>
                        <h3 class="md-subhead">Презентація:</h3>
                        <lf-ng-md-file-input name="presentation" ng-model="ctrl.form.trackFiles.presentation"
                                             lf-files="ctrl.form.trackFiles.presentation" lf-required progress></lf-ng-md-file-input>
                        <div ng-messages="trackForm.presentation.$error" class="md-caption error">
                            <div ng-message="required">Обов'язкове поле.</div>
                        </div>
                    </section>
                </div>
            </section>
            <section id="submit">
                <md-button ng-disabled="trackForm.$invalid || ctrl.submitLock"
                           class="md-raised md-primary" type="submit">
                    Надіслати
                </md-button>
                <div id="form-progressbar" ng-show="ctrl.form.progressBar.isVisible">
                    <div id="progress-caption" class="md-caption center">Надсилання даних...</div>
                    <md-progress-linear md-mode="determinate" value="{{ctrl.form.progressBar.counter}}">
                    </md-progress-linear>
                </div>
                <div ng-show="trackForm.$invalid" class="md-caption form-error-message center error">
                    Необхідно заповнити всі обов'язкові поля
                </div>
            </section>
        </form>
    </md-card-content>
</md-card>
