<md-card class="wide-main-card">
    <md-card-title>
        <md-card-title-text>
            <span class="md-display-1 center">УКРАЇНОМОВНИЙ РЕСУРС ПІСЕНЬ ПОКЛОНІННЯ</span>
        </md-card-title-text>
    </md-card-title>
    <img ng-src="img/background.jpg">
    <md-card-content>
        Для замовлення фонограм або аранжувань звертайтесь за емейлом <a href="mailto:Xlysta@i.ua">Xlysta@i.ua</a> (Володимир Хлиста)
        <br>
        Для замовлення нотного набору пісень звертайтесь за емейлом <a href="mailto:anastasiagren@gmail.com">anastasiagren@gmail.com</a>
    </md-card-content>
</md-card>
<md-card id="contact-card" class="wide-main-card">
    <md-card-title>
        <md-card-title-text>
            <span class="md-title center">Маєте запитання чи пропозицію?</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content class="center">
        Напишіть нам в будь-який зручний для вас месенджер
    </md-card-content>
    <md-card-actions class="center">
        <md-button class="md-raised md-primary" ng-href="https://t.me/inchkinch" target="_blank">Telegram</md-button>
        <md-button class="md-raised md-primary" ng-href="https://www.facebook.com/messages/t/eelorchid" target="_blank">Facebook</md-button>
    </md-card-actions>
</md-card>
<md-card class="wide-main-card" ng-controller="trackListCtrl as ctrl">
    <md-card-header>
        <div layout="row" flex id="search">
            <md-input-container class="md-block" flex>
                <label>Назва пісні або тег</label>
                <input name="query" ng-model="ctrl.form.query" ng-keyup="ctrl.search()">
            </md-input-container>
        </div>
    </md-card-header>
    <md-card-content layout="row" layout-align="space-between">
        <sound-manager></sound-manager>
        <md-list flex window-width>
            <md-progress-circular class="center-screen spinner" md-mode="indeterminate"
                                  ng-show="ctrl.isSpinnerVisible"></md-progress-circular>
            <md-list-item class="md-3-line" ng-repeat="t in ctrl.form.tracks | orderBy:'id':true">
                <div>
                    <img ng-src="img/icons/ic_music_note_black_48px.svg" class="md-avatar">
                    <br>
                    <img ng-if="t.new_" ng-src="img/new.png" class="md-avatar">
                </div>
                <div class="md-list-item-text">
                    <div layout="row">
                        <div class="list-item-index"><h3>{{$index + 1}}.</h3></div>
                        <div class="list-text">
                            <h3>{{t.title}}</h3>
                            <h4>{{t.artist}}</h4>
                        </div>
                    </div>
                    <div>
                        <div ng-if="t.sampleAudioUrl">
                            <md-button class="md-raised download-btn" ng-click="ctrl.openSampleLink(t)">
                                <md-icon md-svg-src="img/icons/baseline-videocam-24px.svg"></md-icon>
                                Демо
                            </md-button>
                        </div>
                        <div ng-if="!t.sampleAudioUrl">
                            <md-button ng-click="ctrl.setUrl(t)" music-player="play" add-song="t" class="md-raised download-btn" ng-if="!isPlaying">
                                <md-icon md-svg-src="img/icons/baseline-play_arrow-24px.svg"></md-icon>
                                Демо
                            </md-button>
                            <md-button stop-music class="md-raised download-btn" ng-if="isPlaying">
                                <md-icon md-svg-src="img/icons/baseline-stop-24px.svg"></md-icon>
                                Демо
                            </md-button>
                            <md-button class="md-raised download-btn" ng-click="ctrl.getSampleAudio(t)">
                                <md-icon md-svg-src="img/icons/baseline-cloud_download-24px.svg"></md-icon>
                                Демо
                            </md-button>
                        </div>
                    </div>
                    <div>
                        <md-button class="md-raised download-btn" ng-disabled="!isAdmin && !isSubscriptionActive"
                                   ng-click="ctrl.getPdfChords(t)">
                            PDF-акорди
                        </md-button>
                        <md-button class="md-raised download-btn" ng-disabled="!isAdmin && !isSubscriptionActive"
                                   ng-click="ctrl.getDocChords(t)">
                            DOC-акорди
                        </md-button>
                        <md-button class="md-raised download-btn" ng-disabled="!isAdmin && !isSubscriptionActive"
                                   ng-click="ctrl.getNotes(t)">
                            Ноти
                        </md-button>
                        <md-button class="md-raised download-btn" ng-disabled="!isAdmin && !isSubscriptionActive"
                                   ng-click="ctrl.getPresentation(t)">
                            PPTX
                        </md-button>
                        <div class="tag-block">
                            Теги: <span ng-repeat="tag in t.tags" ng-click="ctrl.searchByTag(tag)">
                            <a href="" style="color: gray">{{tag.name}}</a>
                        </span>
                        </div>
                    </div>
                    <div ng-if="isAdmin && width < 750" class="track-actions">
                        <md-button ng-click="ctrl.deleteTrack(t)" class="md-raised md-primary">
                            <md-icon md-svg-src="img/icons/ic_delete_black_24px.svg"></md-icon>
                            Видалити
                        </md-button>
                        <md-button ui-sref="trackEdit({trackId: t.id})" class="md-raised md-primary">
                            <md-icon md-svg-src="img/icons/baseline-edit-24px.svg"></md-icon>
                            Редагувати
                        </md-button>
                    </div>
                </div>
                <div ng-if="isAdmin && width > 750" class="track-actions">
                    <md-button ng-click="ctrl.deleteTrack(t)" class="md-raised md-primary">
                        <md-icon md-svg-src="img/icons/ic_delete_black_24px.svg"></md-icon>
                        Видалити
                    </md-button>
                    <md-button ui-sref="trackEdit({trackId: t.id})" class="md-raised md-primary">
                        <md-icon md-svg-src="img/icons/baseline-edit-24px.svg"></md-icon>
                        Редагувати
                    </md-button>
                </div>
            </md-list-item>
            <p class="no-items">Список пустий</p>
        </md-list>
    </md-card-content>
</md-card>
